.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero-img {
  background-image: url(../img/hero-mobile.jpg);
}

.bottom-hero .hero-img {
  background-image: url(../img/hero-bottom-mobile.jpg);
  background-position: center 60%;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero .hero-img,
  .bottom-hero .hero-img {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero .hero-img {
    background-image: url(../img/hero-tablet.jpg);
    height: 620px;
  }

  .bottom-hero .hero-img {
    background-image: url(../img/hero-bottom-tablet.jpg);
    background-position: 80% center;
    height: 400px;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img,
  .bottom-hero .hero-img {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero .hero-img {
    background-image: url(../img/hero-desktop.jpg);
    height: 620px;
    background-position: 42% center;
  }

  .bottom-hero .hero-img {
    background-image: url(../img/hero-bottom-desktop.jpg);
    height: 600px;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
