.payments-pacotes .content-container .text-content .price {
  font-size: 40px;
  margin: 0 0 24px;
}

.payments-pacotes .content-container a {
  width: 100%;
  margin-top: 24px;
}

.payments .content-container .image-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
  width: 100%;
  height: 460px;
}

.payments .content-container .image-content .image {
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .content-container .image-content .image.first,
.payments-pacotes .content-container .image-content .image.first,
.payments .content-container .image-content .image.second,
.payments-pacotes .content-container .image-content .image.second {
  height: 254px;
}

.payments .content-container .image-content .image.third,
.payments-pacotes .content-container .image-content .image.third {
  height: 182px;
}

.payments .content-container .image-content .image.first {
  background-image: url(../img/img-bag.jpg);
}

.payments-pacotes .content-container .image-content .image.first {
  background-image: url(../img/japão-1-mobile.jpg);
}

.payments .content-container .image-content .image.second {
  background-image: url(../img/img-passport.jpg);
}

.payments-pacotes .content-container .image-content .image.second {
  background-image: url(../img/japão-2-mobile.jpg);
}

.payments .content-container .image-content .image.third {
  background-image: url(../img/img-people.jpg);
}

.payments-pacotes .content-container .image-content .image.third {
  background-image: url(../img/japão-3-mobile.jpg);
}

.payments .content-container .image-content .image.third {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments-pacotes .content-container a {
    display: none;
  }

  .payments .content-container .image-content .image.first {
    background-image: url(../img/img-bag-tablet.jpg);
  }

  .payments-pacotes .content-container .image-content .image.first {
    background-image: url(../img/japão-1-tablet.jpg);
  }

  .payments .content-container .image-content .image.second {
    background-image: url(../img/img-passport-tablet.jpg);
  }

  .payments-pacotes .content-container .image-content .image.second {
    background-image: url(../img/japão-2-tablet.jpg);
  }

  .payments .content-container .image-content .image.third {
    background-image: url(../img/img-people-tablet.jpg);
  }

  .payments-pacotes .content-container .image-content .image.third {
    background-image: url(../img/japão-3-tablet.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .payments-pacotes .content-container .image-content .image.first,
  .payments-pacotes .content-container .image-content .image.second {
    background-position: 50% 50%;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .image-content {
    width: 790px;
    margin: 0;
  }
}
